logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
.DS_Store 
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
.github/
.vscode/
.travis.yml
appveyor.yml
apiclient_cert.p12
1613163849_wechatpay_cert.p12
.vs/
shengshiqu.json
app/cert/
buildRoot/
typings/
app/controller/eshopCenter/
app/controller/parameters/
app/controller/parModel/
app/controller/qywechat/
app/controller/resModel/
app/model/
app/modelGlo/
app/schema/
app/schemaGlo/
app/service/eshopCenter/
app/controller/parModel/
app/service/qywechat/
app/router/